#heading {
    display: flex;
    /* center text within object i think */
    align-items: center; 

    /* center object */
    justify-content: center;

    font-family: 'Red Hot Display', sans-serif;
    font-size: 29px;
    font-weight: bolder;

    color: white;

    
    /* background-color: red ; */

    background: linear-gradient(45deg, blue, red);

    margin: 30px;
    padding: 50px;
    border-radius: 4px;
}